<!DOCTYPE html>>
<html>

<head>
    <title>error page</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{text}}</p>
    </div>
    {{>footer}}
</body>

</html>